<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kidslearningkit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KidsLearningKit">
        <activity android:name=".PuzzlesActivity"></activity>
        <activity android:name=".ActionsActivity" />
        <activity android:name=".FlagsActivity" />
        <activity android:name=".WeeksActivity" />
        <activity android:name=".monthsActivity" />
        <activity android:name=".ShapesActivity" />
        <activity android:name=".VehiclesActivity" />
        <activity android:name=".fruitsActivity" />
        <activity android:name=".BodyPartsActivity" />
        <activity android:name=".AnimalsActivity" />
        <activity android:name=".AlphabateActivity" />
        <activity android:name=".NumbersActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>